.actionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionInfo {
  flex: 1;
}

.storageInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.storageItem {
  display: flex;
  gap: 8px;
  align-items: baseline;
}
